# Output directories of build scripts
build/
macos-installer/build
macos-installer/package/*.pkg
# the distribution.xml.template should be in version control
# the actual xml we create during installer build should not
macos-installer/package/distribution.xml
!macos-installer/package/distribution.xml.template
linux-installer/build
linux-installer/packet-sentry-agent_*.deb
linux-installer/packet-sentry-agent_*.rpm
windows-installer/*.wixobj
windows-installer/*.wixpdb
windows-installer/*.msi
windows-installer/bin

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work
go.work.sum

# env file
.env

# macOS Desktop Services Stores hidden files
.DS_Store