Name:           {{ .Name }}
Version:        {{ .Version }}
Release:        1%{?dist}
Summary:        Packet Sentry Agent

License:        MIT
URL:            https://example.com/packet-sentry

BuildArch:      {{ .Arch }}

%description
Packet Sentry Agent daemon for monitoring network traffic.

%install
mkdir -p %{buildroot}%{_bindir}
mkdir -p %{buildroot}{{ .BinaryDestDir }}
mkdir -p %{buildroot}{{ .ServiceDestDir }}

install -m 755 %{_sourcedir}/{{ .BinarySourceName }} %{buildroot}{{ .BinaryDestDir }}/{{ .Name }}
install -m 755 %{_sourcedir}/{{ .SetupScriptName }} %{buildroot}{{ .SetupScriptDest }}/{{ .SetupScriptName }}
install -m 644 %{_sourcedir}/{{ .Name }}.service %{buildroot}{{ .ServiceDestDir }}/{{ .Name }}.service

%files
%attr(755, root, root) {{ .BinaryDestDir }}/{{ .Name }}
%attr(755, root, root) {{ .SetupScriptDest }}/{{ .SetupScriptName }}
%attr(644, root, root) {{ .ServiceDestDir }}/{{ .Name }}.service

%post
is_libpcap_installed() {
    echo "Checking for libpcap installation"
    if rpm -q libpcap | grep -E '^libpcap-[0-9\.\-]+(\.fc[0-9]+)?\.([xX]86_64|aarch64)$' > /dev/null; then
        echo "Found libpcap via package manager"
        return 0
    fi

    echo "libpcap not found."
    return 1
}

is_libpcap_installed
libpcap_installed=$?

if [ $libpcap_installed -eq 0 ]; then
    echo "libpcap is installed, proceeding with installation"
else
    echo "libpcap is NOT installed. Please install libpcap0.8 before continuing."
    exit 1
fi

systemctl daemon-reload
systemctl enable {{ .Name }}.service
systemctl start {{ .Name }}.service || :

%preun
if [ $1 -eq 0 ]; then
    systemctl stop {{ .Name }}.service || :
    systemctl disable {{ .Name }}.service || :
    rm -f /etc/systemd/system/{{ .Name }}.service

    # Remove installed files
    rm -rf "/opt/packet-sentry"

    # Reload systemd to ensure all services are cleared
    systemctl daemon-reload
fi

%postun
if [ $1 -eq 0 ]; then
    systemctl daemon-reload
fi

