#!/bin/bash
echo "Post-installation: Setting up Packet Sentry Agent..."

# Ensure the installation directory has correct ownership and permissions
chown root:root "{{ .InstallDir }}"
chmod 0755 "{{ .InstallDir }}"

chown root:root "{{ .InstallDir }}/bin"
chmod 0755 "{{ .InstallDir }}/bin"

# Ensure the binary has correct ownership and permissions
chown root:root "{{ .BinFile }}"
chmod 0755 "{{ .BinFile }}"

# Ensure systemd service file has correct permissions
chown root:root "{{ .SystemdServiceFilePath }}"
chmod 0644 "{{ .SystemdServiceFilePath }}"

# Prompt user for install key if not provided
if [ ! -f "{{ .BootstrapFile }}" ]; then
    echo "Please enter the install key:"

    # Save current value of shell history file to temp variable
    OLD_HISTFILE="${HISTFILE}"

    # Unset HISTFILE temporarily
    HISTFILE=

    # Execute the commands that should be excluded from history
    read -s -r install_key
    cat <<-EOF > "{{ .BootstrapFile }}"
    {
        "installKey": "$install_key"
    }
EOF

    # Restore HISTFILE to its original value
    HISTFILE="${OLD_HISTFILE}"

    chown root:root "{{ .BootstrapFile }}"
    chmod 0600 "{{ .BootstrapFile }}"
    echo "Install key has been saved."
fi

# Start the service
systemctl daemon-reload
systemctl enable {{ .Name }}
systemctl start {{ .Name }}
