#!/bin/sh

set -e

# Stop and disable the systemd service
systemctl stop {{ .Name }}.service || true
systemctl disable {{ .Name }}.service || true

# Remove systemd service file
rm -f "{{ .SystemdServiceFilePath }}"

# Remove installed files
rm -rf "{{ .InstallDir }}"

# Reload systemd to ensure all services are cleared
systemctl daemon-reload
